body {
    background-color: skyblue;
}

nav {
    font-family: "FreeMono", monospace;
    background-color: #333;
    border-radius: 10px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a {
    float: right;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    
    display: inline-block;
}

li h1 {
    padding-left: 5px;
    color: white;
    font-size: 24px;
    display: inline-block;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    border-radius:  10px;

}

#background {
    margin: auto;
    background-color: white;
    width: 80%;
    border-radius: 10px;
}
